*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
 background: linear-gradient(
    75deg,
    rgb(44, 113, 122) 12%,
    rgb(38, 86, 92) 50%
  );
}